<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <appSettings>
      <!-- Syntax Highlighting Color Settings -->
      <add key="DefaultWordColor" value="Black"/>
      <add key="DefaultWordBackgroundColor" value="Transparent"/>
      <add key="DefaultWordFontStyle" value="Regular"/>
      <add key="CommentColor" value="Green"/>
      <add key="CommentBackgroundColor" value="Transparent"/>
      <add key="CommentFontStyle" value="Italics"/>
      <add key="KeywordColor" value="Blue"/>
      <add key="KeywordBackgroundColor" value="Transparent"/>
      <add key="KeywordFontStyle" value="Regular"/>
      <add key="LiteralColor" value="BlueViolet"/>
      <add key="LiteralBackgroundColor" value="Transparent"/>
      <add key="LiteralFontStyle" value="Regular"/>
      <add key="StringColor" value="Red"/>
      <add key="StringBackgroundColor" value="Transparent"/>
      <add key="StringFontStyle" value="Regular"/>
      <add key="SymbolColor" value="DarkCyan"/>
      <add key="SymbolBackgroundColor" value="Transparent"/>
      <add key="SymbolFontStyle" value="Regular"/>
      <add key="OperatorColor" value="DarkCyan"/>
      <add key="OperatorBackgroundColor" value="Transparent"/>
      <add key="OperatorFontStyle" value="Regular"/>
      <add key="ParenthesisColor" value="DarkCyan"/>
      <add key="ParenthesisBackgroundColor" value="Transparent"/>
      <add key="ParenthesisFontStyle" value="Regular"/>
      <add key="CurlyBraceColor" value="Tomato"/>
      <add key="CurlyBraceBackgroundColor" value="Transparent"/>
      <add key="CurlyBraceFontStyle" value="Regular"/>
      <add key="BracketColor" value="Tomato"/>
      <add key="BracketBackgroundColor" value="Transparent"/>
      <add key="BracketFontStyle" value="Regular"/>
      <add key="ObjectColor" value="GoldenRod"/>
      <add key="ObjectBackgroundColor" value="Transparent"/>
      <add key="ObjectFontStyle" value="Regular"/>
      <add key="CoreReferenceColor" value="GoldenRod"/>
      <add key="CoreReferenceBackgroundColor" value="Transparent"/>
      <add key="CoreReferenceFontStyle" value="Regular"/>
      <add key="BuiltinVariableColor" value="DeepPink"/>
      <add key="BuiltinVariableBackgroundColor" value="Transparent"/>
      <add key="BuiltinVariableFontStyle" value="Regular"/>
      <add key="BuiltinFunctionColor" value="DeepPink"/>
      <add key="BuiltinFunctionBackgroundColor" value="Transparent"/>
      <add key="BuiltinFunctionFontStyle" value="Regular"/>
      <add key="VerbColor" value="Black"/>
      <add key="VerbBackgroundColor" value="Transparent"/>
      <add key="VerbFontStyle" value="Regular"/>
      <add key="PropertyColor" value="Black"/>
      <add key="PropertyBackgroundColor" value="Transparent"/>
      <add key="PropertyFontStyle" value="Regular"/>
      <!-- Editor Settings -->
      <!-- NOTE: The editor only supports monospaced fonts.  Any other font choice will revert to Courier New. -->
      <add key="EditorFontFamily" value="Courier New"/>
      <add key="EditorFontSize" value="8"/>
      <add key="EditorTextColor" value="Black"/>
      <add key="EditorBackgroundColor" value="White"/>
      <add key="EditorCaretColor" value="Black"/>
      <add key="EditorLineNumberColor" value="Teal"/>
      <add key="EditorCurrentLineColor" value="Transparent"/>
      <add key="EditorWordWrap" value="True"/>
      <add key="EditorWordWrapAutoIndent" value="True"/>
      <add key="EditorWordWrapIndent" value="2"/>
      <add key="EditorAutoIndent" value="True"/>
      <add key="EditorAutoBrackets" value="True"/>
      <add key="EditorTabLength" value="2"/>
      <add key="EditorAutocompleteDelay" value="50"/>
      <add key="ErrorIndicatorColor" value="Red"/>
      <!-- Parser Message Font Settings -->
      <add key="ParserMessageFontFamily" value="Segoe UI"/>
      <add key="ParserMessageFontSize" value="10"/>
   </appSettings>
</configuration>